@import url("../../../styles/figure.css");

.best {
    padding: 80px;
    position: relative;
    background-color: #0F172A;
}

.best__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    button{
        max-width: 233px;
        justify-self: flex-end;
    }
}

.best__title {
    color: #FFFFFF;
}

.best__cards-block {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    grid-gap: 16px;
    margin-top: 80px;
}

.position{
    position: absolute;
}

.pink-square_position {
    top: 380px;
    left: 45px;

}

.blue-square_position {
    top: 200px;
    left: 730px;

}

.green-square_position {
    top: 257px;
    right: 33px;
}

.brown-square_position {
    bottom: 110px;
    right: 730px;

}

.purple-square_position {
    bottom: 56px;
    right: 176px;

}

@media screen and (max-width: 1200px) {
    .best {
        padding: 80px 16px;
    }
    .position{
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .best__cards-block {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        justify-items: center;

    }
    .best__header {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
        text-align: center;
        button{
            justify-self: center;
        }
    }
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 400px) {
 
}