.button{
    padding: 16px;
    color: #78350F;
    border: 2px solid #78350F;
    border-radius: 8px;
    background-color: inherit;
}

.text{
    border: none;
    font-size: 16px;
    padding: 12px 8px;
    display: flex;
    align-items: center;
}

.small{
    padding: 12px 28px;
    font-size: 16px;
}

.small-long{
    padding: 16px 0;
    font-size: 16px;
    width: 100%;
}

.medium{
    padding: 20px 24px;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.white{
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.black{
    color: black;
}

.brawn{
    color: #78350F
}


