.pink-square{
   width: 271px;
   height: 271px;
   border-radius: 50px;
   background-color: #BE185D;
}

.blue-square{
    width: 161px;
    height: 161px;
    border-radius: 50px;
    background-color: #0369A1;
}

.purple-square{
    width: 202px;
    height: 202px;
    border-radius: 30px;
    background-color: #A21CAF;
}

.green-square{
    width: 232px;
    height: 232px;
    border-radius: 50px;
    background-color: #15803D;
}

.brown-square{
    width: 130px;
    height: 130px;
    border-radius: 30px;
    background-color: #B45309;
}