.button-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.button-large {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.button-extra-large {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.button-xl {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.body-xl {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
}

.body-large {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
}

.body-extra-large {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
}

.body-xxl {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 38.4px;
}

.body-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
}

.heading-2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 56px;
    line-height: 61.6px;
}

.heading-6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 26.4px;
}

.heading-1-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 72px;
    line-height: 79.2px;
}

.heading-1-l {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 96px;
    line-height: 105px;
}

.heading-5 {
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 32px;
    font-weight: 700;
    line-height: 35.2px;
}

.subtitle-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 17.6px;
    text-align: left;
}

.subtitle-XL {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}

@media screen and (max-width: 1200px) {
    .heading-2 {
        font-weight: 700;
        font-size: 46px;
        line-height: 61.6px;;
    }
}

@media screen and (max-width: 900px) {
    .heading-2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 35.2px;
    }

    .body-xl {
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
    }
    .heading-1-l{
        font-weight: 800;
        font-size: 48px;
        line-height: 52px;
    }
}

@media screen and (max-width: 600px) {
    .heading-1-medium {
        font-weight: 800;
        font-size: 56px;
        line-height: 61.6px;
    }
}

@media screen and (max-width: 400px) {
    .heading-1-medium {
        font-size: 32px;
        font-weight: 700;
        line-height: 35.2px;
    }
}

@media screen and (max-width: 300px) {
    .body-medium {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 22.4px;
    }
}