.collectible {
    position: relative;
    padding: 80px 0 0 0;
    background:
        linear-gradient(to bottom right, #FFFBEB 50%, transparent 50%),
        linear-gradient(to top left, #FEF3C7 50%, transparent 50%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
   &__container,
&__icon-block {
    display: grid;
    align-items: center;
    justify-content: space-between;
}
&__img-block {
    justify-self: flex-end;
}
&__container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
}
&__icon-block {
    grid-template-columns: repeat(3, minmax(200px, 373px));
    grid-gap: 20px;
}
&__text-block__text {
    margin: 30px 0;
    max-width: 714px;
}
&__button-block {
    display: flex;
    align-items: center;

    button {
        .button_padding {
            padding: 0 32px;
        }
    }

    .text {
        margin-left: 16px;

        span {
            margin-left: 8px;
        }
    }
}
}







@media screen and (max-width: 1200px) {
    .collectible{
        &__container {
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            text-align: center;
        }
    
        &__icon-block {
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            text-align: center;
        }
        &__img-block {
            justify-self: center;
        }
        &__button-block{
            justify-content: center;
        }
    }
}

@media screen and (max-width: 600px) {
 .collectible{
    &__text-block {
        text-align: center;
    }

    &_button-block {
        justify-content: center;
    }

    &__img-block {
        display: flex;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    &__icon-block {
        text-align: center;
    }
 }
}

@media screen and (max-width: 400px) {
    .collectible__button-block {
        flex-direction: column;
        align-items: center;

        .text {
            margin: 10px 0;
        }
    }
}