.comments{
    position: relative;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    &-block__title-block{
        padding: 80px 80px 40px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.yelow-background{
    position: absolute;
    width: 95%;
    height: 310px;
    background-color: #FDE68A;
    left: 2.5%;
    top: 0;
    z-index: -1;    
}

.scroller{
    display: flex;
    overflow-x: auto;
}
.scroller::-webkit-scrollbar {
    display: none; 
}

@media screen and (max-width: 600px) {
   .comments-block{
    &__title-block{
        padding: 80px 24px 40px 24px;
        justify-content: center;
        text-align: center;
    }
    &__button-block{
        display: none;
    }
   }
}