.header{
    padding: 30px 80px;
    background-color: #FFFBEB;
}
.header__nav, .header__list{
    display: flex;
    justify-content: space-between;
}

.header__list{
    flex: 0.5;
    display: flex;
    align-items: center;
}
