.comment-card{
    min-width: 384px;
    padding: 32px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    border: 1px solid #E2E8F0;
    box-shadow: 0px 0px 6px 0px #00000012,
     0px 10px 15px -3px #0000001A;
     margin: 0 12px 0 12px;
     background: #FFFFFF;
}
.comment-card__logo{
    display: flex;
    align-items: center;
    span{
        margin-left: 10px;
    }
}
.comment-card__avatar-block{
    display: flex;
    align-items: center;

}
.comment-card__text{
    margin: 16px 0;
}
.job-title{
    color: #475569;
}

@media screen and (max-width:450px) {
    .comment-card{
        min-width: 270px;
        height: auto;
        padding: 15px 15px;
        text-align: center;
    }
    .comment-card__logo{
       justify-content: center;
    }
}